/*スポフェスカスタマイズバージョン*/


/*ウィンドウ全体に掛かるオーバーレイ*/
#overlay{ 
			position: absolute; 
			top: 0; left: 0; 
			z-index: 90; 
			width: 100%; 
			height: 500px; 
			background-color: #000; 
		}

/*開いたページのcss*/
#lightbox{
			position: absolute;	
			left: 0; 
			width: 100%; 
			z-index: 100; 
			margin-top: -30px;
			text-align: center; 
			line-height: 0;
		  }
		  

/*closeボタン*/
#lightbox a img{ 
					border: none; 
					width: auto; 
					height: auto;
				}

/*開いた画像*/					
#imageContainer{ 
					padding: 10px; 
					width: auto; 
					height: auto;
				}

/*開いた画像の背景の四角*/
#outerImageContainer{ 
						position: relative; 
						background-color: #f8f8f8; 
						width: 250px; 
						height: 250px; 
						margin: 0 auto; 
					}

/*ロード画像（gifアニメ）*/
#loading{ 
			position: absolute; 
			top: 40%; left: 0%; 
			height: 25%; 
			width: 100%; 
			text-align: center; 
			line-height: 0; 
		 }
		 

#hoverNav{ 
			position: absolute; 
			top: 0; left: 0; 
			height: 100%; 
			width: 100%; 
			z-index: 10; 
		 }

#imageContainer #hoverNav{ left: 0;}

#hoverNav a{ outline: none;}

#prevLink, #nextLink{ 
						width: 49%; 
						height: 100%; 
						background-image: url(data:image/gif;base64,AAAA); 
						/* Trick IE into showing hover */ display: block; 
					}
					
#prevLink { left: 0; float: left;}

#nextLink { right: 0; float: right;}

#prevLink:hover, #prevLink:visited:hover { 
											background: url(http://design1.chu.jp/img/lightbox/prevlabel.gif) left 15% no-repeat; 
										 }

#nextLink:hover, #nextLink:visited:hover { 
											background: url(http://design1.chu.jp/img/lightbox/nextlabel.gif) right 15% no-repeat; 
										 }

#imageDataContainer{ 
						font: 10px Verdana, Helvetica, sans-serif; 
						background-color: #fff; 
						margin: 0 auto; 
						line-height: 1.4em; 
						overflow: hidden; 
						width: 100%	; 
					}

#imageData{	padding:0 10px; color: #666; }

#imageData #imageDetails{ 
							width: 70%; 
							float: left; 
							text-align: left; 
						}	

#imageData #caption{ font-weight: bold;	}

#imageData #numberDisplay{
							 display: block; 
							 clear: left; 
							 padding-bottom: 1.0em;	
						 }
			
#imageData #bottomNavClose{ 
							width: 66px;
							height: 22px;
							float: right;  
							outline: none;
						  }	 	


#Content #Main #EasyProfile dl {
	font-size: 13px;
}
