@charset "utf-8";

/*---------------------------------------------------------------*/
/*-- reset style ------------------------------------------------*/
/*---------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,
p,li,span,
dt,dd,
th,td
{
    word-wrap:break-word;
}
ul li {
    list-style: none;
}
img {
    border: none;
    vertical-align: bottom;
}

/*---------------------------------------------------------------*/
/*-- base style -------------------------------------------------*/
/*---------------------------------------------------------------*/
html {
    overflow-y: scroll;
}
body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 80%;
    color: #333;
    background-color: #efefef;
    line-height: 1.5;
    text-align: center;
}
a{
    /* macIEには効かせない */
    /* \*/
    overflow:hidden;
    /* */
}
a:link , a:visited {
    color: #336699;
}
a:hover , a:active {
    color: #33cc33;
}
input:hover {
    filter:Alpha(opacity:80%);
    opacity: 0.8;
}
pre {
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: pre-wrap;      /* CSS3 */
    word-wrap: break-word;      /* IE 5.5+ */
}

/*---------------------------------------------------------------*/
/*-- wrapper style ----------------------------------------------*/
/*---------------------------------------------------------------*/
div#wrapper {
    width: 800px;
    margin: 10px auto 0;
    text-align: left;
}

/*---------------------------------------------------------------*/
/*-- HEADER style -----------------------------------------------*/
/*---------------------------------------------------------------*/
div#header_innerL{
    background: url(../images/front/simple/bg_headerL.jpg) no-repeat left top;
    padding-left: 20px;
    margin-bottom: 20px;
    min-height: 100px;
    zoom: 100%;
}
div#header_innerL:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}
div#header_innerL div#header_innerR {
    background: url(../images/front/simple/bg_headerR.jpg) no-repeat right top;
    padding-right: 20px;
    min-height: 100px;
}
div#header_innerL div#header_innerR div#header_inner {
    background: url(../images/front/simple/bg_header.jpg) repeat-x;
    min-height: 100px;
}
div#header_inner h1 {
    float: left;
    width:490px;
    font-size: 180%;
    margin-top: 15px;
    margin-bottom:6px;
}
div#header_inner p#description {
    clear:both;
    margin-top: 15px;
}

/*---------------------------------------------------------------*/
/*-- SEARCH style（検索） ----------------------------------------*/
/*---------------------------------------------------------------*/
div#header_inner form {
    float: right;
    margin-top: 25px;
}
div#header_inner dl {
    float: left;
}
div#header_inner dl dt ,
div#header_inner dl dd ,
div#header_inner form p {
    float: left;
}
div#header_inner dl dt {
    height: 23px;
    width:22px;
    background: url(../images/front/simple/search.gif) no-repeat 0 0;
    margin-right: -1px;
    display: block;
    text-indent: -9999px;
}
div#header_inner dl dd {
    height: 20px;
    background-color: #fff;
    border: solid 1px #33cc33;
    border-left: none;
    padding-left: 2px;
}
div#header_inner dl dd input {
    width: 14em;
    padding-right: 0.5em;
    border: none;
    margin-top: 2px;
}
div#header_inner form p input {
    background: url(../images/front/simple/btn_search.jpg) no-repeat 0 0;
    border: none;
    display: block;
    width: 43px;
    height: 22px;
    text-indent: -9999px;
    cursor:pointer;
}

/*---------------------------------------------------------------*/
/*-- content style ----------------------------------------------*/
/*---------------------------------------------------------------*/
div#content {
    zoom: 100%;
    margin-bottom: 10px;
}
div#content:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}

/*---------------------------------------------------------------*/
/*-- mainContent style ------------------------------------------*/
/*---------------------------------------------------------------*/
div#mainContent {
    width: 600px;
    max-width: 75%;
    float: right;
}

/*---------------------------------------------------------------*/
/*-- entry style ------------------------------------------------*/
/*---------------------------------------------------------------*/
div.entry {
    background-color: #fff;
    margin-bottom: 20px;
    border: solid 1px #ccc;
    padding: 1.2em;
}
div.entry p.backTop {
    margin-top: 15px;
    text-align: right;
}
div.entry table td {
    vertical-align: top;
}

/*---------------------------------------------------------------*/
/*-- entryHead style --------------------------------------------*/
/*---------------------------------------------------------------*/
div.entryHead {
    border-bottom: solid 1px #3399cc;
    margin-bottom: 20px;
    zoom: 100%;
}
div.entryHead:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}
div.entryHead h2 {
    float: left;
    font-size: 150%;
    font-weight: normal;
}
div.entryHead h2 a ,
div.entryHead h2 span {
    text-decoration: none;
    color: #3399cc;
    background: url(../images/front/simple/bg_entryTitle.gif) no-repeat left center;
    padding-left: 24px;
    display: block;
    max-width:550px;
}
div.entryHead p {
    float: right;
    margin-top: 0.6em;
}

/*---------------------------------------------------------------*/
/*-- ENTRY BODY style --------------------------------------------*/
/*---------------------------------------------------------------*/
dl.category {
    float: right;
    margin: 0 0 10px;
}
dl.category:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}
dl.category dt {
    float: left;
    padding-left: 20px;
}
dl.category dd {
    float: left;
    max-width:200px;
}
div.entryBody {
    clear: both;
    margin-left: 4px;
}
div.entryBody h3 {
    font-size: 120%;
    color: #3399cc;
    border-left: solid 8px #3399cc;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
div.entryBody h4 {
    font-size: 100%;
    color: #3399cc;
    margin-bottom: 5px;
}
div.entryBody p {
    margin-bottom: 10px;
    max-width: 40em;
}
div.entryBody li {
    margin-left: 3px;
    margin-bottom: 5px;
    list-style-position: inside;
}
div.entryBody ul li {
    list-style-type: disc;
}
div.entryBody li ol,
div.entryBody li ul {
    margin-left: 10px;
}

/*---------------------------------------------------------------*/
/*-- entryPhoto style -------------------------------------------*/
/*---------------------------------------------------------------*/
div.entryBody div.entryPhoto {
    margin: 20px 0;
    zoom: 100%;
}
div.entryBody div.entryPhoto:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: left;
}
div.entryBody div.entryPhoto p {
    float: left;
    margin-right: 1em;
}
div.entryBody div.entryPhoto p a img{
    border: solid 1px #3399cc;
    margin-bottom: 5px;
}
div.entryBody div.entryPhoto p a:hover img{
    border: solid 1px #33cc33;
}

/*---------------------------------------------------------------*/
/*-- ENTRY PARTS style ------------------------------------------*/
/*---------------------------------------------------------------*/
div.entryBody p.entryMoreRead {
    margin-top: 15px;
}
div.entryBody dl.entryTag {
    margin-top: 15px;
    zoom: 100%;
}
div.entryBody dl.entryTag:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: left;
}
div.entryBody dl.entryTag dt ,
div.entryBody dl.entryTag dd {
    float: left;
    margin-right: 10px;
}

/*------------------------------------------------------------*/
/*    pageNav style                                           */
/*------------------------------------------------------------*/
div#pageNav {
    text-align: center;
    margin-top:20px;
}
div#pageNav ul {
    margin: 0 auto;
    zoom:100%;
}
div#pageNav ul:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}
div#pageNav ul li {
    display:inline;
    margin-right: 4px;
    margin-left: 4px;
}
div#pageNav ul li.navNumber a ,
div#pageNav ul li.navNumber span {
    background-color: #eaeaea;
    padding: 4px 7px;
    text-decoration: none;
    border:solid 1px #dedede;
}
div#pageNav ul li.navNumber a:hover {
    background-color: #f4f4f4;
    border:solid 1px #dedede;
}
div#pageNav ul li.current span {
    background-color: #dedede;
    border:solid 1px #d0d0d0;
    font-weight: bold;
}

/*---------------------------------------------------------------*/
/*-- subContent style ------------------------------------------*/
/*---------------------------------------------------------------*/
div#subContent {
    width: 180px;
    float: left;
}

/*---------------------------------------------------------------*/
/*-- navArea style ----------------------------------------------*/
/*---------------------------------------------------------------*/
div#navArea {
    border: solid 1px #d2d2d2;
    background-color: #fff;
}
div#navArea div.navList {
    border-bottom: solid 1px #d2d2d2;
    padding: 0.8em;
}
div#navArea div.navList h3 {
    font-size: 110%;
    font-weight: normal;
    border-left: solid 7px #3399cc;
    padding-left: 8px;
    margin-bottom: 10px;
}
div#navArea div.navList ul li a,
div#navArea div.navList ul li span {
    background: url(/images/front/simple/bg_linkList.gif) no-repeat 0 0.4em;
    padding-left: 16px;
    margin-bottom: 6px;
    display: block;
}
div#navArea div.navList p {
    text-align: right;
    margin: 15px 0 6px;
}

/*---------------------------------------------------------------*/
/*-- tagCloud style ---------------------------------------------*/
/*---------------------------------------------------------------*/
ul#tagCloud {
    margin-bottom: 6px;
    zoom: 100%;
}
ul#tagCloud:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: left;
}
div#navArea div.navList ul#tagCloud li {
    margin-right: 5px;
    margin-bottom: 3px;
    display: inline;
}
div#navArea div.navList ul#tagCloud li a {
    margin-bottom: 0;
    padding-left: 0;
    background: none;
    display: inline;
}
ul#tagCloud li.level10 a {
    font-size: 80%;
}
ul#tagCloud li.level9 a {
    font-size: 90%;
}
ul#tagCloud li.level8 a {
    font-size: 100%;
}
ul#tagCloud li.level7 a {
    font-size: 110%;
}
ul#tagCloud li.level6 a {
    font-size: 120%;
}
ul#tagCloud li.level5 a {
    font-size: 130%;
}
ul#tagCloud li.level4 a {
    font-size: 140%;
}
ul#tagCloud li.level3 a {
    font-size: 150%;
    font-weight: bold;
}
ul#tagCloud li.level2 a {
    font-size: 160%;
    font-weight: bold;
}
ul#tagCloud li.level1 a {
    font-size: 170%;
    font-weight: bold;
}
ul#tagCloud li.level1 a:link ,
ul#tagCloud li.level1 a:visited {
    color: #144f8b;
}
ul#tagCloud li.level1 a:hover ,
ul#tagCloud li.level1 a:active {
    color:#33CC33;
}

/*---------------------------------------------------------------*/
/*-- FOOTER style -----------------------------------------------*/
/*---------------------------------------------------------------*/
p#copyright {
    text-align: right;
    color: #fff;
    background-color: #3399cc;
    padding: 0.8em 1em;
}

/*---------------------------------------------------------------*/
/*-- installPage style --------------------------------------------*/
/*---------------------------------------------------------------*/
body#installPage div#content div#mainContent {
    width: 600px;
    max-width: 100%;
    float: none;
    margin:0 auto;
}
body#installPage div#content div#mainContent div.entry {
    min-height: 150px;
    padding: 30px;
}
body#installPage h1 {
    margin-bottom: 20px;
}
body#installPage h2,
body#installPage p,
body#installPage dd {
    margin-bottom: 10px;
}
body#installPage span.required {
    color: #dd0000;
    padding-right: 5px;
    font-weight: bold;
}
body#installPage div.form-actions form {
    display: inline-block;
}

/*---------------------------------------------------------------*/
/*-- errorPage style --------------------------------------------*/
/*---------------------------------------------------------------*/
body#errorPage div#content div#mainContent {
    width: 800px;
    max-width: 100%;
    float: none;
}
body#errorPage div#content div#mainContent div.entry {
    min-height: 150px;
}
body#errorPage div#content div#mainContent div.entryBody p {
    max-width: 100%;
}