@charset "utf-8";

/*---------------------------------------------------------------*/
/*-- reset style ------------------------------------------------*/
/*---------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
img {
    border: none;
    vertical-align: bottom;
}

/*---------------------------------------------------------------*/
/*-- base style -------------------------------------------------*/
/*---------------------------------------------------------------*/
html {
    overflow-y: scroll;
}
body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 80%;
    color: #333;
    background-color: #efefef;
    line-height: 1.5;
    text-align: center;
}
a{
    /* macIEには効かせない */
    /* \*/
    overflow:hidden;
    /* */
}
a:link , a:visited {
    color: #336699;
}
a:hover , a:active {
    color: #33cc33;
}

/*---------------------------------------------------------------*/
/*-- wrapper style ----------------------------------------------*/
/*---------------------------------------------------------------*/
div#wrapper {
    width: 800px;
    margin: 10px auto 0;
    text-align: left;
}

/*---------------------------------------------------------------*/
/*-- HEADER style -----------------------------------------------*/
/*---------------------------------------------------------------*/
div#header_innerL{
    background: url(../images/simple/bg_headerL.jpg) no-repeat left top;
    height: 100px;
    padding-left: 20px;
    margin-bottom: 20px;
    zoom: 100%;
}
div#header_innerL:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}
div#header_innerL div#header_innerR {
    background: url(../images/simple/bg_headerR.jpg) no-repeat right top;
    padding-right: 20px;
    height: 100px;
}
div#header_innerL div#header_innerR div#header_inner {
    background: url(../images/simple/bg_header.jpg) repeat-x;
    height: 100px;
}

/*---------------------------------------------------------------*/
/*-- discription style（サイトロゴ、説明） ----------------------*/
/*---------------------------------------------------------------*/
div#header_inner h1 {
    font-size: 180%;
    margin-top: 25px;
}
input:hover {
    fillter:Alpha(opacity:80%);
    opacity: 0.8;
}
div#header_inner div#discript {
    float: left;
}
div#header_inner div#discript p {
    margin-top: 6px;
    margin-left: 3px;
}

/*---------------------------------------------------------------*/
/*-- utility style（RSS） ---------------------------------------*/
/*---------------------------------------------------------------*/
div#header_inner div#utility {
    zoom: 100%;
}
div#header_inner div#utility:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: right;
}
div#header_inner ul {
    float: right;
    margin-top: 24px;
}
div#header_inner ul li {
    float: left;
    margin-left: 10px;
    display: inline;
}
div#header_inner ul li#RSS {
    background: url(../images/simple/bg_RSS.gif) no-repeat left center;
}
div#header_inner ul li#RSS a {
    padding-left: 20px;
    display: block;
}

/*---------------------------------------------------------------*/
/*-- SEARCH style（検索） ----------------------------------------*/
/*---------------------------------------------------------------*/
div#header_inner form {
    float: right;
    margin-top: 50px;
}
div#header_inner dl {
    float: left;
}
div#header_inner dl dt ,
div#header_inner dl dd ,
div#header_inner form p {
    float: left;
}
div#header_inner dl dt {
    height: 23px;
    width:22px;
    background: url(../images/simple/search.gif) no-repeat 0 0;
    margin-right: -1px;
    display: block;
    text-indent: -999px;
}
div#header_inner dl dd {
    height: 20px;
    background-color: #fff;
    border: solid 1px #33cc33;
    border-left: none;
    padding-left: 2px;
}
div#header_inner dl dd input {
    width: 12em;
    border: none;
    margin-top: 2px;
}
div#header_inner form p input {
    background: url(../images/simple/btn_search.jpg) no-repeat 0 0;
    border: none;
    display: block;
    width: 43px;
    height: 22px;
    text-indent: -999px;
}

/*---------------------------------------------------------------*/
/*-- content style ----------------------------------------------*/
/*---------------------------------------------------------------*/
div#content {
    zoom: 100%;
    margin-bottom: 10px;
}
div#content:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}

/*---------------------------------------------------------------*/
/*-- mainContent style ------------------------------------------*/
/*---------------------------------------------------------------*/
div#mainContent {
    width: 600px;
    max-width: 75%;
    float: right;
}

/*---------------------------------------------------------------*/
/*-- entry style ------------------------------------------------*/
/*---------------------------------------------------------------*/
div.entry {
    background-color: #fff;
    margin-bottom: 20px;
    border: solid 1px #ccc;
    padding: 1.2em;
}
div.entry p.backTop {
    margin-top: 15px;
    text-align: right;
}

/*---------------------------------------------------------------*/
/*-- entryHead style --------------------------------------------*/
/*---------------------------------------------------------------*/
div.entryHead {
    border-bottom: solid 1px #3399cc;
    zoom: 100%;
    margin-bottom: 20px;
}
div.entryHead:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: both;
}
div.entryHead h2 {
    float: left;
    font-size: 150%;
    font-weight: normal;
}
div.entryHead h2 a {
    text-decoration: none;
    color: #3399cc;
    background: url(../images/simple/bg_entryTitle.gif) no-repeat left center;
    padding-left: 24px;
    display: block;
}
div.entryHead p {
    float: right;
    margin-top: 0.6em;
}

/*---------------------------------------------------------------*/
/*-- ENTRY BODY style --------------------------------------------*/
/*---------------------------------------------------------------*/
dl.category {
    float: right;
    margin: 0 0 10px;
}
dl.category dt {
    float: left;
    padding-left: 20px;
}
dl.category dd {
    float: left;
}
div.entryBody {
    clear: both;
    margin-left: 4px;
}
div.entryBody h3 {
    font-size: 120%;
    color: #3399cc;
    border-left: solid 8px #3399cc;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
div.entryBody h4 {
    font-size: 100%;
    color: #3399cc;
    margin-bottom: 5px;
}
div.entryBody p {
    margin-bottom: 10px;
    max-width: 40em;
}
div.entryBody ul li {
    margin-bottom: 10px;
}

/*---------------------------------------------------------------*/
/*-- entryPhoto style -------------------------------------------*/
/*---------------------------------------------------------------*/
div.entryBody div.entryPhoto {
    margin: 20px 0;
    zoom: 100%;
}
div.entryBody div.entryPhoto:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: left;
}
div.entryBody div.entryPhoto p {
    float: left;
    margin-right: 1em;
}
div.entryBody div.entryPhoto p a img{
    border: solid 1px #3399cc;
    margin-bottom: 5px;
}
div.entryBody div.entryPhoto p a:hover img{
    border: solid 1px #33cc33;
}

/*---------------------------------------------------------------*/
/*-- ENTRY PARTS style ------------------------------------------*/
/*---------------------------------------------------------------*/
div.entryBody p.entryMoreRead {
    margin-top: 15px;
}
div.entryBody dl.entryTag {
    margin-top: 15px;
    zoom: 100%;
}
div.entryBody dl.entryTag:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
    clear: left;
}
div.entryBody dl.entryTag dt ,
div.entryBody dl.entryTag dd {
    float: left;
    margin-right: 10px;
}

/*---------------------------------------------------------------*/
/*-- subContent style ------------------------------------------*/
/*---------------------------------------------------------------*/
div#subContent {
    width: 180px;
    float: left;
}

/*---------------------------------------------------------------*/
/*-- navArea style ----------------------------------------------*/
/*---------------------------------------------------------------*/
div#navArea {
    border: solid 1px #d2d2d2;
    background-color: #fff;
}
div#navArea div.navList {
    border-bottom: solid 1px #d2d2d2;
    padding: 0.8em;
}
div#navArea div.navList h3 {
    font-size: 110%;
    font-weight: normal;
    border-left: solid 7px #3399cc;
    padding-left: 8px;
    margin-bottom: 10px;
}
div#navArea div.navList ul li a,
div#navArea div.navList ul li span {
    background: url(../images/simple/bg_linkList.gif) no-repeat left 0.4em;
    padding-left: 16px;
    margin-bottom: 6px;
    display: block;
}
div#navArea div.navList p {
    text-align: right;
    margin: 15px 0 6px;
}


/*------------------------------------------------------------*/
/*    pageNav style                                           */
/*------------------------------------------------------------*/
div#pageNav {
    margin-top: 20px;
    text-align: center;
}
div#pageNav ul {
    margin: 0 auto;
    zoom: 100%;
}
div#pageNav ul li {
    display:inline;
    margin-right: 4px;
    margin-left: 4px;
}
div#pageNav ul li.navNumber a ,
div#pageNav ul li.current span {
    background-color: #eaeaea;
    padding: 4px 7px;
    text-decoration: none;
    border:solid 1px #dedede;
}
div#pageNav ul li.navNumber a:hover {
    background-color: #f4f4f4;
    border:solid 1px #dedede;
}
div#pageNav ul li.current span {
    background-color: #dedede;
    border:solid 1px #d0d0d0;
    font-weight: bold;
}


/*---------------------------------------------------------------*/
/*-- tagCloud style ---------------------------------------------*/
/*---------------------------------------------------------------*/
ul#tagCloud {
	margin-bottom: 6px;
	zoom: 100%;
}
ul#tagCloud:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: left;
}
div#navArea div.navList ul#tagCloud li ,
div#mainContent div.entry ul#tagCloud li {
	margin-right: 5px;
	margin-bottom: 3px;
	display: inline;
}
div#navArea div.navList ul#tagCloud li a ,
div#mainContent div.entry ul#tagCloud li a {
	margin-bottom: 0;
	padding-left: 0;
	background: none;
	display: inline;
}
ul#tagCloud li.level10 a {
	font-size: 80%;
}
ul#tagCloud li.level9 a {
	font-size: 90%;
}
ul#tagCloud li.level8 a {
	font-size: 100%;
}
ul#tagCloud li.level7 a {
	font-size: 110%;
}
ul#tagCloud li.level6 a {
	font-size: 120%;
}
ul#tagCloud li.level5 a {
	font-size: 130%;
}
ul#tagCloud li.level4 a {
	font-size: 140%;
}
ul#tagCloud li.level3 a {
	font-size: 150%;
	font-weight: bold;
}
ul#tagCloud li.level2 a {
	font-size: 160%;
	font-weight: bold;
}
ul#tagCloud li.level1 a {
	font-size: 170%;
	font-weight: bold;
}
ul#tagCloud li.level1 a:link ,
ul#tagCloud li.level1 a:visited {
	color: #144f8b;
}
ul#tagCloud li.level1 a:hover ,
ul#tagCloud li.level1 a:active {
	color:#33CC33;
}

/*---------------------------------------------------------------*/
/*-- FOOTER style -----------------------------------------------*/
/*---------------------------------------------------------------*/
p#copyright {
    text-align: right;
    color: #fff;
    background-color: #3399cc;
    padding: 0.8em 1em;
}
